// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header{
	height: 150px;
	padding: 10px;
}

#header-background{
	background-color: #2980b9;
  padding:3px;

}

h1{
	color: white;
	font-weight: bold;
	font-size: 45px;
	margin-top: 10px;
}

h2{
	margin-bottom: 20px;
}

#my-header{
	height: 100px;
	padding: 10px;
}

.form-format{
	margin:10px 0px;
}

input{
	width:300px;
}

.radio input[type="radio"]{
		width:50px;
		margin-left: 0px;
}

label{
  width: 150px;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block
}

input[type="submit"]{
	width:100px;
	margin-bottom: 20px;
	margin-left: 250px;
}